a.button_demo{
    width:100%;height:30px;cursor: pointer;display: flex;align-items: center;justify-content: center ;
}
.button_submit{
    float:right;width:130px;height:30px;border:1px solid #000;
}
.btn-group {
    position: relative;
    top: -2px;
    left: -11px;
}
.liright{
    padding-left: 50px;
    padding-right: 15px;
    width: calc(100% - 140px);
    padding: 0 5px 0 25px !important;
}
.lileft{
    width: 150px;
}
.show_binhluan{
    width: 100%;
    height: auto;
    line-height: 50px;
}
.comment{
}
.col-comment{
    width: 100%;
    height: auto;
}
.btn-success{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
}